body {
    margin: 0px; 
    padding: 0px;
    color: #484848;
    font-family: Circular, "Helvetica" Arial, Helvetica, sans-serif;
    /* background-image: url("../images/icon.png"); */
    background-repeat: no-repeat;
}
